@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:700);

#myCalc { 
	margin: 0; 
	padding: 0; 
	font-size: 16px; 
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300; 
	line-height: 24px; 
	max-width: 800px; 
	margin: 0 auto;
}

#myCal main{ 
	background-color: #444; 
}

#myCalc main section {
	width: 25%;
	float: left;
	text-align: center;
	padding-top: 110px;
	color: #fff;
	background-repeat: no-repeat;
	background-position: center 5px;
	background-size: 63px 100px;
}

#myCalc main::after { 
	content: ''; 
	display: block; 
	clear: both; 
}

#myCalc main section.inc { background-color: #8b0046; background-image: url(images/bulb_inc.svg); }
#myCalc main section.hal { background-color: #adff2f; background-image: url(images/bulb_hal.svg); }
#myCalc main section.cfl { background-color: #ffa500; background-image: url(images/bulb_cfl.svg); }
#myCalc main section.led { background-color: #6495ed; background-image: url(images/bulb_led.svg); }

#myCalc main section > div { 
	padding: 5px 0; 
	background-color: rgba(0,0,0,.15); 
}

#myCalc main h4 {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 0.8em;
	letter-spacing: 1px;
	margin-bottom: 0 0 5px 0;
	text-transform: uppercase;
}

#myCalc main p { 
	margin-bottom: 0; 
	font-size: 1.5em; 
	font-weight: 700; 
}

#myCalc main p + p { font-weight: 300; font-size: 1em; }

#myCalc main p::after { content: "w"; }

#myCalc main p + p::before { content: "$"; }

#myCalc main p + p::after { 
	content: "per year"; 
	color: rgba(255,255,255,0.5); 
	padding-left: 4px; 
}
		
#myCalc form { 
	background-color: #000;
	margin: 0;
	padding: 10px 0px;
 }

#myCalc form br { display: none; }

#myCalc form > div {
	color: #fff;
	width: 33%;
	float: left;
	text-align: center;
	padding: 10px 0 5px 0;
}

#myCalc form::after { content: ""; display: block; clear: both; }

#myCalc form h4 {
	color: #aaa;
	margin: 0 0 -5px 0;
	font-size: 1.5em;
	font-weight: 300;
}

#myCalc form p { 
	color: #888;
	margin: 0 0 6px 0;
	font-size: .9em;
 }

 #myCalc form input[type=number] {
 	width: 50px;
 	text-align: left;
 	font-size: 1em;
 }

 #myCalc form select {
 	font-size: 1em;
 	-webkit-appearance: none;
 	-moz-appearance: none;
 	-ms-appearance: none;
 	-o-appearance: none;
 	-appearance: none;
 	background: #fff url(images/icons_arrows.svg) no-repeat right 6px;
 	background-size: 30px 20px;
 	padding: 3px 30px 3px 5px;
 }

 #myCalc form select::-ms-expand { display: none; }

/*will only take effect if screen is less than 500px */
 @media screen and (max-width:500px){
 	#myCalc { font-size: 15px; }
 	#myCalc main section { background-size: 45px 71px; padding-top: 80px; }
 	#myCalc main h4 { margin: 0; font-size: .75em; letter-spacing: 0; }
 	#myCalc main p {font-size: 1.1em; }
 	#myCalc main p + p { font-size: 1em; }
 	#myCalc main p + p::after { display: block; margin-top: -10px; color: #fff; }

 	#myCalc form h4 { font-size: 1.1em; margin: 0; }
 	#myCalc form p { font-size: 0.8em; line-height: 14px; }
 	#myCalc form br { display: inline; }
 	#myCalc form input[type=number] { width: 30px; font-size: 0.8em; }
 	#myCalc form select { font-size: 0..8em; }
 }